@page "/Registro/Create"

<PageTitle>Agregar Nuevo</PageTitle>

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-white text-center">
            <h5 class="mb-0">Agregar nuevo </h5>
        </div>
        <div class="card-body">
        </div>
    </div>
</div>